<!DOCTYPE html>
<html lang="en">
<head>

{% load static  %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Luxmind - Writter Portal</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static "assets1/global_assets/css/icons/icomoon/styles.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets1/css1/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets1/css1/bootstrap_limitless.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets1/css1/layout.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets1/css1/components.min.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "assets1/css1/colors.min.css" %}" rel="stylesheet" type="text/css">
	
	<script src="{% static "assets1/global_assets/js/main/jquery.min.js" %}"></script>
	<script src="{% static "assets1/global_assets/js/main/bootstrap.bundle.min.js" %}"></script>
	<script src="{% static "assets1/global_assets/js/plugins/loaders/blockui.min.js" %}"></script>
	<script src="{% static "assets1/global_assets/js/plugins/ui/ripple.min.js" %}"></script>
	
	<script src="{% static "assets1/js1/app.js" %}"></script>
	<script src="{% static "assets1/global_assets/js/demo_pages/login.js" %}"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="index.html" class="d-inline-block">
				<img src="{% static "assets1/global_assets/images/logo_light.png" %}" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link">
						<i class="icon-display4"></i>
						<span class="d-md-none ml-2">Go to website</span>
					</a>					
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link">
						<i class="icon-user-tie"></i>
						<span class="d-md-none ml-2">Contact admin</span>
					</a>					
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link">
						<i class="icon-cog3"></i>
						<span class="d-md-none ml-2">Options</span>
					</a>					
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">

				<!-- Registration form -->
                <form action="{% url 'NewAccount'  %}" class="flex-fill" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
				
					<div class="row">
						<div class="col-lg-9 offset-lg-2">
							<div class="card mb-0">
								<div class="card-body">
									<div class="text-center mb-3">
										<i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
										<h5 class="mb-0">Create account</h5>
										<span class="d-block text-muted">All fields are required</span>
									</div>
                                 {% if messages %}

                                    {% for message in messages %}

									<div class="alert alert-danger border-0 alert-dismissible">
									<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
									<span class="font-weight-semibold">error!</span> {{ message }}
							    </div>
                                
                                    

                                    
                                    {% endfor %}

                                {% endif %}
									

									<div class="row">
										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" placeholder="First name" name="Firstname" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control"  placeholder="Second name" name="Middlename" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

                                        <div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="Lastname" placeholder="Last name" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="email" class="form-control" name="Email" placeholder="Email Address" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" placeholder="PhoneNumber" name="Phone" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

                                        <div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												 <select class="form-control form-control-lg" name="Gender" required>
                                                <option>Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                </select>
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<label class="form-label" for="name">Identification Card</label>
                                        <input type="file" class="form-control" name="file1" placeholder="Enter your name" required>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<label class="form-label" for="name">Passport Photo</label>
                                        <input type="file" class="form-control " name="file2" placeholder="Enter your name" required>
											</div>
										</div>

                                        <div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<label class="form-label" for="name">Certificate</label>
                                        <input type="file" class="form-control " name="file3" placeholder="Enter your name" required>
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control " name="School" placeholder="Enter your School" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="Country" placeholder="Enter your Country" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

                                        <div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="Language" placeholder="Enter your Language" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>
									</div>

                                    <div class="row">
										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="WorkExperience" placeholder="Enter your WorkExperience">
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="City" placeholder="Enter your City">
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

                                        <div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="Address" placeholder="Enter your Address">
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>
									</div>


                                    <div class="row">
										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<select class="form-control form-control-lg" name="NightCalls">
                                                <option>Can you handle Night Calls?</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                                </select>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<select class="form-control form-control-lg" name="ForceAssignments">
                                                <option>Forced Assignments?</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                                </select>
											</div>
										</div>

                                        <div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<select class="form-control form-control-lg" name="LevelOfEducation">
                                                <option>Level Of Education</option>
                                                <option value="Undergraduate">Undergraduate</option>
                                                <option value="Graduate">Graduate</option>
                                                <option value="Post Graduate">Post Graduate</option>
                                                </select>
											</div>
										</div>
									</div>

                                    <div class="row">
										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="SocialMedia" placeholder="Enter your social media">
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="password" class="form-control" name="Password" placeholder="Enter your Password">
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

                                        
									</div>

                                    <div class="row">
										<div class="col-md-12">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<label class="form-label" for="name">Additional Information</label>
                                        <textarea class="form-control form-control-lg" rows="5" name="AdditionalInfo"></textarea>
											</div>
										</div>

										

                                        
									</div>



									

									

									

									<button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-plus3"></i></b> Create account</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- /registration form -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2021. <a href="#">Luxmind Education Center</a> by Millenia Tech</a>
					</span>

					{% comment %} <ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
						<li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
						<li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
					</ul> {% endcomment %}
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
