{% extends "tutor/base.html" %}

{% block content %}
{% load static  %}

<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>

					{% comment %} <div class="header-elements d-none">
						<div class="d-flex justify-content-center">
							<a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
								<i class="icon-bars-alt text-pink-300"></i>
								<span>Statistics</span>
							</a>
							<a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
								<i class="icon-calculator text-pink-300"></i>
								<span>Invoices</span>
							</a>
							<a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
								<i class="icon-calendar5 text-pink-300"></i>
								<span>Schedule</span>
							</a>
						</div>
					</div> {% endcomment %}
				</div>

				
			</div>
			<!-- /page header -->
            <div class="content">
            <p></p>
                
                <div class="row">
					<div class="col-xl-12">
                    <div class="card">

                    <div class="table-responsive">
								<table class="table text-nowrap">
									<thead>
										<tr>
											<th>Order Id</th>
											<th>Topic Title</th>
											<th>Discipline</th>
											<th>Pages</th>
                                            <th>Deadline</th>
											<th>CPP</th>
                                            <th>Cost</th>
											<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
										</tr>
									</thead>
									<tbody>
                                    {% for paper in papers%}
										
										<tr>
											<td>
												<div class="d-flex align-items-center">
													
													<div>
														<a href="{% url 'TutorPaper' paper.id  %}" class="text-default font-weight-semibold">Revision</a>
														<div class="text-muted font-size-sm">
															<span class="badge badge-mark border-blue mr-1"></span>
															<span>10000{{paper.id}}</span>
														</div>
													</div>
												</div>
											</td>
											<td><span class="text-muted"><span>{{paper.Title}}</span></span></td>
											<td><span class="text-success-600"> {{paper.Discipline}}</span></td>
											<td><h6 class="font-weight-semibold mb-0">{{paper.Pages}}</h6></td>
											<td><span class="badge bg-blue">{{paper.Timeline}}</span></td>
                                            <td>
                                            <span class="font-weight-semibold mb-0">
                                            {% if AccountType == "ENL" %}
                                            ${{paper.CPPENL|floatformat}}                                        
                                               
                                           
                                            {% elif AccountType == "ESL" %}
                                            ${{paper.CPPESL|floatformat}}                                          
                                               
                                            
                                            {% else %}
                                           - 
                                               
                                        
                                            {% endif %}
                                            </span>
                                            </td>
                                            <td>
                                            <span class="font-weight-semibold mb-0">
                                            {% if AccountType == "ENL" %}
                                            
                                            ${{paper.ENL|floatformat}}
                                               
                                           
                                            {% elif AccountType == "ESL" %}
                                            
                                            ${{paper.ESL|floatformat}} 
                                               
                                            
                                            {% else %}
                                           - 
                                               
                                        
                                            {% endif %}
                                            </span>
                                            </td>
											
										</tr>
                                        {% endfor %}
										
									</tbody>
								</table>
							</div>



                    </div>
                </div>
                </div>

                {% endblock content %}
                